@font-face {
  font-family: Kalam;
  font-style: inherit;
  font-weight: 300;
  src: url('kalam-light.ttf');
}

@font-face {
  font-family: Kalam;
  font-style: inherit;
  font-weight: 400;
  src: url('kalam-regular.ttf');
}
@font-face {
  font-family: Kalam;
  font-style: inherit;
  font-weight: 700;
  src: url('kalam-bold.ttf');
}
@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  src: url('comfortaa-variable-font_wght.ttf');
}
